# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.Python
.pytest_cache/

# Virtual environments
.venv/
venv/
env/

# Logs and local data
*.log
.DS_Store

# IDE/editor settings
.idea/
.vscode/

# Node / frontend
node_modules/
dist/
build/

# downloads
downloads/

# macOS
*.DS_Store